<mat-card class="card__container">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
    <div *ngIf="items.length > 0; else: elseNoItems">
      <div>
        <b>ToDo List</b>
      </div>
      <table mat-table>
        <tr *ngFor="let item of items">
          {{ item.name }}
          <button mat-icon-button (click)="view(item)">
            <mat-icon color="primary" class="table__cell--icon_not_disabled"
            >zoom-in
            </mat-icon
            >
          </button>
        </tr>
      </table>
    </div>
    <ng-template #elseNoItems> No items</ng-template>
  </div>
</mat-card>
